.container {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 2fr 6fr;
}

.leftContainer {
    /* display: grid; */
    justify-content: center;
    background-color: rgb(0,0,0,0);
    
    margin-top: 30px;
    margin-left: 100px;

    /* Scrollable div */
    /* max-height: 900px;
    overflow-y: scroll; */
}

.rightContainer {
    /* background-color: rgb(21, 0, 255); */
    height: 90vh;
}

.wheel-div {
    padding-top: 6%;
}

.checkboxContainer {
    font-family: system-ui, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
    color:red;
    padding: 13px;
}
/* input[type="checkbox"]:checked ~ label {
    color:green;
} */

.checked {
    color:green;
}

/* Hiding the box in checkbox */
input[type="checkbox"] {
    visibility: hidden;
}
